.bigChartBox{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart{
        width: 100%;
        height: 300px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            display: flex;
            align-items: center;
            gap: 2px;
        }
        span{
            color: rgb(97, 97, 202);
            padding: 10px;;
        }
        .options{
            display: flex;
            align-items: center;
        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }}
    }
}